# Project name
COMPOSE_PROJECT_NAME=indoor-air-quality

# Orion variables
ORION_PORT=1026

# MongoDB variables
MONGO_DB_PORT=27017

# NGSi Proxy variables
NGSI_PROXY_APP_PORT=3001

##################################################
# NGSI-Proxy settings
LOGGING_LEVEL=INFO
INTERVAL_SECONDS=60

# Orion-LD Agent
ORION_BASE_URL=http://localhost:${ORION_PORT}
QUANTUMLEAP_BASE_URL=http://localhost:${QUANTUMLEAP_PORT}

# IoT-Hub Agent
IOTHUB_BASE_URL=https://iothub.magenta.at:443/api
IOTHUB_USERNAME=<your username>
IOTHUB_PASSWORD=<your password>


#################################################
# settings for the integrated REST-Client (the .http files)
IOTHUB_TOKEN=<your token for iothub>
IOTHUB_DEVICE_ID=<your device id for iothub>
